body {
  background-color: teal;
  max-width: 1100px;
}

h1 {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  height: 400px;
  color: white;
}

p {
  text-align: justify;
  color: white;
}

.icon {
  width: 100px;
  height: 100px;
  border: solid white 1px;
}

.ablcont {
  display: flex;
  width: 800px;
}

.info {
  width: 800px;
}

.abl {
  width: 200px;
  margin: 5px;
}

.rightButton {
  float: right;
}

.agentInfo {
  margin: 10px auto;
}
