body {
  background-color: teal;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  height: 400px;
  color: white;
  justify-content: center;
  flex-grow: 1;
}

span {
  text-align: justify;
  color: white;
}

.icon {
  width: 100px;
  height: 100px;
  border: solid white 1px;
}

.smallIcon {
  width: 66.5px;
  height: 66.5px;
  border: solid white 1px;
}

.abl {
  width: 200px;
  margin: 5px;
}

.rightButton {
  float: right;
}

.role {
  display: flex;
}

.agentInfo {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
}

.info {
  width: 60%;
}

.ablcont {
  display: flex;
  font-size: 13px;
  justify-content: center;
}

p {
  text-align: justify;
}
